<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Terreni {{citta}}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link rel= "icon" href= "{{ url_for('static',filename='img/favicon.png') }}">
  <link rel= "apple-touch-icon"  href= "{{ url_for('static',filename='apple-touch-icon.png') }}">
  

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Lato:400,300,700,900" rel="stylesheet">

  <!-- Vendor CSS Files -->
   
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='vendor/bootstrap-icons/bootstrap-icons.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='vendor/glightbox/css/glightbox.min.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='vendor/swiper/swiper-bundle.min.css') }}">
  

  <!-- Template Main CSS File -->
  
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/leaflet.css')}}"> 

  <script src="{{ url_for('static',filename='js/jquery-3.3.1.min.js') }}"> </script>
  <script src="{{ url_for('static',filename='js/jquery-migrate-1.4.1.min.js') }}"> </script>
  <script src="{{ url_for('static',filename='js/leaflet.js') }}"></script>

  <!-- =======================================================
  * Template Name: Amoeba - v4.7.0
  * Template URL: https://bootstrapmade.com/free-one-page-bootstrap-template-amoeba/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="/">Home</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End #header -->


  <main id="main">

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container">
      <div id="mappeverdi" style="height:500px;">
      
      </div>
        <script>
        
        var territori={{territori | tojson}};
        var terreni = {{terreni | tojson}};
        
        
        var map = L.map('mappeverdi').setView([41.87194, 12.56738], 5);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
          maxZoom: 19,
          attribution: '© OpenStreetMap'
      }).addTo(map);
      var popup = L.popup();
      
      map.touchZoom.disable();
      map.doubleClickZoom.disable();
     
      map.boxZoom.disable();
      map.keyboard.disable();

      var greenIcon = new L.Icon({
      iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-green.png',
      shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
      iconSize: [25, 41],
      iconAnchor: [12, 41],
      popupAnchor: [1, -34],
      shadowSize: [41, 41]
      });
      var redIcon = new L.Icon({
	    iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-red.png',
      shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
	    iconSize: [25, 41],
      iconAnchor: [12, 41],
      popupAnchor: [1, -34],
      shadowSize: [41, 41]
});
      if (map.tap) map.tap.disable();
        document.getElementById('mappeverdi').style.cursor='default';
      for (let i = 0; i < territori.length; i++){
       cavia=JSON.parse(territori[i])
       compatibile=cavia.coltivazioni_compatibili
       L.marker([parseFloat(cavia.lat), parseFloat(cavia.long)],{icon:greenIcon}).addTo(map).bindPopup(compatibile.toString());
       
      }
      for (let i = 0; i < terreni .length; i++){
        cavia=JSON.parse(terreni[i])
        coltivato=cavia.coltivazione
        L.marker([parseFloat(cavia.lat), parseFloat(cavia.long)],{icon:redIcon}).addTo(map).bindPopup(coltivato.toString().split("#")[1]);

      }
      //L.marker([43.7695604, 11.2558136],{title:"Firenze"}).addTo(map).on('click', onClick); //firenze
      //L.marker([41.4526300, 12.6215700],{title:"Anzio"}).addTo(map).on('click', onClick); //Anzio
      //L.marker([40.7457400, 14.4969800],{title:"Pompei"}).addTo(map).on('click', onClick); //Pompei
              




        </script>
        
    </div>

    </section><!-- End About Us Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Amoeba</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/free-one-page-bootstrap-template-amoeba/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End #footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  

  <script src="{{ url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static',filename='vendor/glightbox/js/glightbox.min.js') }}"></script>
  <script src="{{ url_for('static',filename='vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static',filename='vendor/swiper/swiper-bundle.min.js') }}"></script>
  <script src="{{ url_for('static',filename='vendor/php-email-form/validate.js') }}"></script>

  <!-- Template Main JS File -->
  <script src="{{ url_for('static',filename='js/main.js') }}"></script>

</body>

</html>